<div class="row">
    <div class="container">
    {% if items %} 
        {% for item in items %}
            {% include "qa/show_answer.html" %}
        {% endfor %}
    {% else %}
            <div class="row justify-content-center">
                <h2>No answers are available</h2>
            </div>
    {% endif %}
    </div>
</div>
<div class="row">
    {% url 'qa:answers' question.id as abs_url %}
    {% include "qa/pagination.html" with base_url=abs_url %}
</div>  
<script>
    $(".reload_content").click(function(){
    $( "#answers" ).load($(this).attr("href"));
    return false;
    });
</script>  
