<!-- templates/qa/qa_detail.html -->

{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include "qa/qa_item.html" with item=question qa_type="question" %}
    <div class="row">
        <div class="container" id ="answers">
            {% if items %} 
                {% for item in items %}
                    {% include "qa/qa_item.html" with qa_type="answer" %}
                {% endfor %}
            {% else %}
                <div class="row justify-content-center">
                    <h2>No answers are available</h2>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% include "qa/pagination.html" %}
    </div> 
{% if user.is_authenticated %}
    <div class="row">
        <h3>Your answer</h3>
    </div> 
    <div class="row">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <p><input type="submit" class="btn btn-primary" value=Submit /></p>
        </form>
    </div>
{% endif %}
</div>

{% endblock %}