<!-- templates/qa/qa_item.html -->

<div class="row">
    <div class="col col-lg-2 align-self-center">
        <div class="row">
            <a type="button" class="votingButton btn btn-success btn-sm" item_id="{{ item.id }}"item_value = "love" item_type = "{{ qa_type }}" href="{% url 'qa:update' %}">love</a>
        </div>
        <div class="row">
            <h2 id="{{ qa_type }}_{{ item.id }}">{{ item.votes }}</h2>
        </div>
        <div class="row">
            <a type="button" class="votingButton btn btn-danger btn-sm" item_id="{{ item.id }}" item_value = "hate" item_type = "{{ qa_type }}" href="{% url 'qa:update' %}">hate</a>
        </div>
        {% if qa_type == "answer" %}
        <div class="row" id="accepted_{{ item.id }}">
            {% if user == item.question.author %}
                {% if item.question.accepted_answer == item %}
                    <a class="acceptAnswer text-muted" id="{{ item.id }}" href="{% url 'qa:accept' %}">accepted !</a>
                {% else %}
                    <a class="acceptAnswer text-muted" id="{{ item.id }}" href="{% url 'qa:accept' %}">accept</a>
                {% endif %}
            {% else %}
                {% if item.question.accepted_answer == item %}
                    accepted
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col">
        {% if item.title %}
        <div class="row justify-content-center">
            {{ item.title }}
        </div>
        {% endif %}
        <div class="row">
            {{ item.body }}
        </div>
        <div class="row">
            {% if item.get_tags %}
            <div class="col col text-right">
                {% for tag in item.get_tags %}
                    <a type="button" class="btn btn-primary btn-sm mr-1" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            {% endif %}
        <div class="col col text-right">
            {% if item.author.avatar %}
                <img src="{{ item.author.avatar.url }}" width="60" alt="Oops ..." />
            {% endif %}
            {{ item.author }}
        </div>
        </div>
    </div>
</div>
<hr>
