<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include "qa/qa_item.html" with item=question qa_type="question" %}
    <div class="row">
        <div class="container" id ="answers">
            <script>
                $( "#answers" ).load( "{{ question.get_absolute_answers_url }}" );
            </script>
        </div>
    </div>
{% if user.is_authenticated %}
    <div class="row">
        <h3>Your answer</h3>
    </div> 
    <div class="row">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <p><input type="submit" class="btn btn-primary" value=Submit /></p>
        </form>
    </div>
{% endif %}
</div>

{% endblock %}