{% load humanize %}
<div class="row">
    <div class="col-lg-2">
        <div class="row justify-content-center">{{ question.votes }}</div>
        <div class="row justify-content-center">Votes</div>
    </div>
    <div class="col-lg-2">
        <div class="row justify-content-center">{{ question.answers__count }}</div>
        <div class="row justify-content-center">Answers</div>
    </div>
    <div class="col">
        <div class="row justify-content-center">
            <a href="{% url 'qa:detail' question.id %}">{{ question.title }}</a>  
        </div>  
        <div class="row justify-content-center">
            <div class="btn-toolbar">
            {% for tag in question.get_tags %}
                <a type="button" class="btn btn-primary btn-sm mr-1" href="{% url 'qa:tag' tag.id %}">{{ tag.name }}</a>
            {% endfor %} 
            </div>
        </div> 
    </div>
    <div class="col-lg-2">
        <div class="row justify-content-center">
            {% if question.author.avatar %}
                <a href="{{ question.author.avatar.url }}">{{ question.author }}</a>
            {% else %}
                {{ question.author }}
            {% endif %}
            
        </div>
        <div class="row justify-content-center text-center">
            {{ question.date | naturaltime }}
        </div> 
    </div>
</div>
<hr class="half-rule"/>