<!-- templates/qa/show_answer.html -->

<div class="row justify-content-center">    
    <div class="col">
        <div class="container">
            <div class="row">
                <a type="button" class="btn btn-success btn-sm" href="">love</a>
            </div>
            <div class="row ">
                <h2>{{ item.votes }}</h2>
            </div> 
            <div class="row">
                <a type="button" class="btn btn-danger btn-sm" href="">hate</a>
            </div> 
        </div> 
    </div>    
    <div class="col">
        {{ item.body }}  
    </div>
    <div class="col text-right">
        {% if item.author.avatar %}
            <img src="{{ item.author.avatar.url }}" width="60" alt="Oops ..." />
        {% endif %}
        {{ item.author }} 
    </div> 
</div>    
<hr> 

