{% extends 'base.html' %}

{% block title %}
    <h2>{{ form.header_title }}</h2>
{% endblock %}

{% block content %}
<div class="container">    
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form %}
            <ul class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </ul>
        {% endfor %}
        <ul>
        <p><input type="submit" class="btn btn-primary" value={{ form.submit_title }} /></p>
        </ul>
    </form> 
</div> 

{% endblock %}
