<!-- templates/home.html --> 

{% extends 'base.html' %}

{% block title %}
    {% if title %}
        <h2>{{ title }}</h2>
    {% else %}
        <div class="row border-between justify-content-center">
            <h2><a href="{% url 'qa:questions' %}?tab=new">New questions </a></h2>
            <h2>&nbsp;|&nbsp;</h2>
            <h2><a href="{% url 'qa:questions' %}?tab=hot"> Hot questions</a></h2>
        </div>
    {% endif %}   
{% endblock %}

{% block content %}
<div class="container">
<hr>
{% include "include/questions_list.html" %}
</div>
{% endblock %}

{% load static %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/trending.js' %}"></script>
{% endblock %}    